// color variables
$primary-dark: #161616;
$primary-light: #f0f0f0;
$secondary-dark: #181818;
$secondary-light: #727272;

$primary-light-transparent: #f0f0f0bf;
$secondary-dark-transparent: #18181873;
$secondary-light-transparent: #727272bf;

$primary-colorful: #543fcf;
$secondary-colorful: #3fcf3f;

// $primary-colorful-gradient: radial-gradient(
//   circle,
//   rgba(63, 120, 207, 1) 0%,
//   rgba(63, 135, 207, 1) 50%,
//   rgba(63, 150, 207, 1) 100%
// );
$primary-colorful-gradient: linear-gradient(
	135deg,
	#543fcf 0%,
	#3f7dcf 50%,
	#3fcecf 100%
);

// font variables
$font-serif: 'Mate SC', Cambria, Cochin, Georgia, Times, 'Times New Roman',
	serif;
$font-sans: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-mono: 'Share Tech Mono', 'Courier New', Courier, monospace;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scrollbar-color: $secondary-light-transparent $secondary-dark;
	scrollbar-width: thin;
}

body {
	margin: 0;
	padding: 0;
	background: $primary-dark;
	color: $primary-light;
	font-family: $font-sans;
	max-width: 100%;
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: $secondary-dark;
}

::-webkit-scrollbar-thumb {
	background-color: $secondary-light-transparent;
	border-radius: 12px;
}

body,
.input,
.inputField,
.output,
.outputField {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

header {
	margin-bottom: 0.8em;
	text-align: center;
	cursor: default;
	user-select: none;
	h1 {
		margin-bottom: 0;
		font: bolder 3.5rem $font-serif;
		background: $primary-colorful;
		background: $primary-colorful-gradient;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: 12s ease-in-out 2s infinite hue;
	}

	p {
		font-size: 1rem;
		color: $secondary-light;
	}
}

.input,
.output {
	margin: 3em 0;
	padding: 2em 4em;
	width: 70vw;
	max-width: 70vw;
	border-radius: 1rem;
	box-shadow: 0 0 5px rgba(7, 7, 7, 0.15);
	transition: 200ms all ease-in-out;
}

.input:hover,
.output:hover {
	box-shadow: 0 5px 10px rgba(7, 7, 7, 0.15);
}

.textareaLabel,
textarea,
button {
	margin: 1em 0 2em 0;
}

.textareaLabel {
	font-size: 1.4rem;
	letter-spacing: 0.25rem;
	color: $primary-light;
	text-align: center;
	text-transform: uppercase;
	user-select: none;
	transition: all 0.5s ease-out;
	&:hover {
		letter-spacing: 0.3rem;
	}
}

.inputField,
.outputField {
	width: 100%;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	.count {
		width: 100%;
		padding: 0 0.5em 0.5em 0;
		font: lighter 0.8rem $font-mono;
		color: $primary-light-transparent;
		text-align: right;
		cursor: default;
		user-select: none;
	}
	textarea {
		box-sizing: padding-box;
		display: block;
		width: 100%;
		min-height: 4em;
		max-height: 50em;
		background: transparent;
		font-family: $font-mono;
		color: $primary-light;
		position: relative;
		border: none;
		outline: none;
		resize: vertical;
	}
}

.underline {
	display: inline-block;
	width: 100%;
	height: 2px;
	bottom: 0%;
	left: -100%;
	margin-bottom: 1em;
	position: absolute;
	background-color: $secondary-colorful;
	transition: all 0.5s;
}

textarea:focus + .underline {
	left: 0;
}

::placeholder {
	color: $secondary-light;
}

.lines {
	font-size: 0.95rem;
	margin: 1.5em 0;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	input {
		padding: 0.5em 0.2em;
		margin: 1em 0 0 0;
		box-sizing: padding-box;
		display: block;
		width: fit-content;
		max-width: 8.5em;
		background: transparent;
		font-family: $font-mono;
		text-align: end;
		color: $primary-light;
		border: none;
		outline: none;
		border-bottom: 2px solid $secondary-dark-transparent;
		transition: all 0.5s ease-out;
	}
	::placeholder {
		text-align: end;
	}
	input:focus {
		border-bottom: 2px solid $secondary-colorful;
	}
}

.buttons {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.inputBtn {
	margin: 1em;
	padding: 0.75em 1.5em;
	flex: 1 1 auto;
	font-weight: bolder;
	color: $secondary-colorful;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	transition: all 0.3s ease-out;
	&:after {
		content: '';
		width: 0;
		height: 120%;
		bottom: 0;
		left: -10%;
		background: $secondary-colorful;
		position: absolute;
		z-index: -1;
		transform: skewX(30deg);
		transition: all 0.3s ease-out;
	}
	&:hover,
	&:focus {
		color: $secondary-dark;
		outline: 0;
		cursor: pointer;
		box-shadow: 0 0 15px rgba(5, 5, 5, 0.2);
		&:after {
			width: 120%;
			left: -10%;
		}
	}
}

.fileUpload {
	max-width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 0.9rem;
	.fileBtn {
		margin: 1em;
		padding: 0.75em 1.5em;
		flex: 1 1 auto;
		font-weight: bolder;
		color: $secondary-colorful;
		letter-spacing: 0.2em;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		border-radius: 6px;
		overflow: hidden;
		user-select: none;
		transition: all 0.5s ease-out;
		&:after {
			content: '';
			width: 0;
			height: 120%;
			bottom: 0;
			right: -10%;
			background: $secondary-colorful;
			position: absolute;
			z-index: -1;
			transform: skewX(30deg);
			transition: all 0.5s ease-out;
		}
		&:hover,
		&:focus {
			color: $secondary-dark;
			outline: 0;
			cursor: pointer;
			box-shadow: 0 0 15px rgba(5, 5, 5, 0.2);
			&:after {
				width: 120%;
				right: -10%;
			}
		}
	}
	input {
		position: absolute;
		visibility: hidden;
	}
}

footer {
	margin: 4em 0 0.5em 0;
	font: 0.8rem $font-mono;
	color: $secondary-light-transparent;
	opacity: 0.35;
	text-align: center;
	text-transform: capitalize;
	cursor: default;
	user-select: none;
}

// Transparent glassy effect
@supports (backdrop-filter: none) {
	.input,
	.output {
		background: $secondary-dark-transparent;
		backdrop-filter: blur(14px);
	}
}

// Text color animation
@keyframes hue {
	0% {
		filter: hue-rotate(0deg);
	}
	25% {
		filter: hue-rotate(360deg);
	}
	50% {
		filter: hue-rotate(0deg);
	}
	75% {
		filter: hue-rotate(-360deg);
	}
	100% {
		filter: hue-rotate(0deg);
	}
}

// Shadow and width adjustments for smaller screens
@media screen and (max-width: 1080px) {
	.input,
	.output {
		width: 80%;
		max-width: 80%;
		box-shadow: 0 0 8px rgba(7, 7, 7, 0.4);
		animation: 8s ease-in-out 2s infinite shadow;
	}
	.buttons {
		display: flex;
		width: 100%;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.input,
	.output {
		width: 85%;
		max-width: 85%;
		box-shadow: 0 0 6px rgba(8, 8, 8, 0.4);
	}

	.input:hover,
	.output:hover {
		box-shadow: 0 4px 16px rgba(8, 8, 8, 0.4);
	}
}

@media screen and (max-width: 480px) {
	.input,
	.output {
		width: 90%;
		max-width: 90%;
		box-shadow: 0 0 4px rgba(9, 9, 9, 0.4);
	}

	.input:hover,
	.output:hover {
		box-shadow: 0 4px 16px rgba(8, 8, 8, 0.4);
	}
}
