*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #727272bf #181818;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: #f0f0f0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: #727272bf;
  border-radius: 12px;
}

body,
.input,
.inputField,
.output,
.outputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  margin-bottom: 0.8em;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header h1 {
  margin-bottom: 0;
  font: bolder 3.5rem "Mate SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #543fcf;
  background: linear-gradient(135deg, #543fcf 0%, #3f7dcf 50%, #3fcecf 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: 12s ease-in-out 2s infinite hue;
          animation: 12s ease-in-out 2s infinite hue;
}

header p {
  font-size: 1rem;
  color: #727272;
}

.input,
.output {
  margin: 3em 0;
  padding: 2em 4em;
  width: 70vw;
  max-width: 70vw;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5px rgba(7, 7, 7, 0.15);
          box-shadow: 0 0 5px rgba(7, 7, 7, 0.15);
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.input:hover,
.output:hover {
  -webkit-box-shadow: 0 5px 10px rgba(7, 7, 7, 0.15);
          box-shadow: 0 5px 10px rgba(7, 7, 7, 0.15);
}

.textareaLabel,
textarea,
button {
  margin: 1em 0 2em 0;
}

.textareaLabel {
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.textareaLabel:hover {
  letter-spacing: 0.3rem;
}

.inputField,
.outputField {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.inputField .count,
.outputField .count {
  width: 100%;
  padding: 0 0.5em 0.5em 0;
  font: lighter 0.8rem "Share Tech Mono", "Courier New", Courier, monospace;
  color: #f0f0f0bf;
  text-align: right;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.inputField textarea,
.outputField textarea {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  display: block;
  width: 100%;
  min-height: 4em;
  max-height: 50em;
  background: transparent;
  font-family: "Share Tech Mono", "Courier New", Courier, monospace;
  color: #f0f0f0;
  position: relative;
  border: none;
  outline: none;
  resize: vertical;
}

.underline {
  display: inline-block;
  width: 100%;
  height: 2px;
  bottom: 0%;
  left: -100%;
  margin-bottom: 1em;
  position: absolute;
  background-color: #3fcf3f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

textarea:focus + .underline {
  left: 0;
}

::-webkit-input-placeholder {
  color: #727272;
}

:-ms-input-placeholder {
  color: #727272;
}

::-ms-input-placeholder {
  color: #727272;
}

::placeholder {
  color: #727272;
}

.lines {
  font-size: 0.95rem;
  margin: 1.5em 0;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lines input {
  padding: 0.5em 0.2em;
  margin: 1em 0 0 0;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 8.5em;
  background: transparent;
  font-family: "Share Tech Mono", "Courier New", Courier, monospace;
  text-align: end;
  color: #f0f0f0;
  border: none;
  outline: none;
  border-bottom: 2px solid #18181873;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.lines ::-webkit-input-placeholder {
  text-align: end;
}

.lines :-ms-input-placeholder {
  text-align: end;
}

.lines ::-ms-input-placeholder {
  text-align: end;
}

.lines ::placeholder {
  text-align: end;
}

.lines input:focus {
  border-bottom: 2px solid #3fcf3f;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.inputBtn {
  margin: 1em;
  padding: 0.75em 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: bolder;
  color: #3fcf3f;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.inputBtn:after {
  content: '';
  width: 0;
  height: 120%;
  bottom: 0;
  left: -10%;
  background: #3fcf3f;
  position: absolute;
  z-index: -1;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.inputBtn:hover, .inputBtn:focus {
  color: #181818;
  outline: 0;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px rgba(5, 5, 5, 0.2);
          box-shadow: 0 0 15px rgba(5, 5, 5, 0.2);
}

.inputBtn:hover:after, .inputBtn:focus:after {
  width: 120%;
  left: -10%;
}

.fileUpload {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 0.9rem;
}

.fileUpload .fileBtn {
  margin: 1em;
  padding: 0.75em 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: bolder;
  color: #3fcf3f;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.fileUpload .fileBtn:after {
  content: '';
  width: 0;
  height: 120%;
  bottom: 0;
  right: -10%;
  background: #3fcf3f;
  position: absolute;
  z-index: -1;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.fileUpload .fileBtn:hover, .fileUpload .fileBtn:focus {
  color: #181818;
  outline: 0;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px rgba(5, 5, 5, 0.2);
          box-shadow: 0 0 15px rgba(5, 5, 5, 0.2);
}

.fileUpload .fileBtn:hover:after, .fileUpload .fileBtn:focus:after {
  width: 120%;
  right: -10%;
}

.fileUpload input {
  position: absolute;
  visibility: hidden;
}

footer {
  margin: 4em 0 0.5em 0;
  font: 0.8rem "Share Tech Mono", "Courier New", Courier, monospace;
  color: #727272bf;
  opacity: 0.35;
  text-align: center;
  text-transform: capitalize;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .input,
  .output {
    background: #18181873;
    -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
  }
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  50% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  75% {
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  50% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  75% {
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@media screen and (max-width: 1080px) {
  .input,
  .output {
    width: 80%;
    max-width: 80%;
    -webkit-box-shadow: 0 0 8px rgba(7, 7, 7, 0.4);
            box-shadow: 0 0 8px rgba(7, 7, 7, 0.4);
    -webkit-animation: 8s ease-in-out 2s infinite shadow;
            animation: 8s ease-in-out 2s infinite shadow;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .input,
  .output {
    width: 85%;
    max-width: 85%;
    -webkit-box-shadow: 0 0 6px rgba(8, 8, 8, 0.4);
            box-shadow: 0 0 6px rgba(8, 8, 8, 0.4);
  }
  .input:hover,
  .output:hover {
    -webkit-box-shadow: 0 4px 16px rgba(8, 8, 8, 0.4);
            box-shadow: 0 4px 16px rgba(8, 8, 8, 0.4);
  }
}

@media screen and (max-width: 480px) {
  .input,
  .output {
    width: 90%;
    max-width: 90%;
    -webkit-box-shadow: 0 0 4px rgba(9, 9, 9, 0.4);
            box-shadow: 0 0 4px rgba(9, 9, 9, 0.4);
  }
  .input:hover,
  .output:hover {
    -webkit-box-shadow: 0 4px 16px rgba(8, 8, 8, 0.4);
            box-shadow: 0 4px 16px rgba(8, 8, 8, 0.4);
  }
}
/*# sourceMappingURL=styles.css.map */